.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution{
    margin-top: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont_1;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}
body{
    width: 100%;
    height: 100vh;
    background-color: #eeca16b3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    border: 1px solid black;
    
    max-width: 350px;
    box-shadow: 6px 7px 0px 2px #000000;
    border-radius: 10px;
    background-color: aliceblue;
}
.banner_img{
 
    margin: 10px 10px 0 10px ;
    overflow: hidden;
    object-fit: cover;
}

.banner_img img{
  height: 100%;
    border-radius: 8px;
  width: 100%;
}

 .banner_info{

  display: flex;
  flex-direction: column;
  gap: 15px; 
  padding-top: 15px;
  margin: 10px;
}
button{
    background-color: #eeca16b3;
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 8px;
  
    text-align: center;
    font-family: myFont_1;
    font-size: 15px;
    font-weight: 590;
}
#publish{
 
    font-family: myFont_1;
    font-size: 13px;
}
h3{
    font-family: myfont_1;
}
h3:hover{
  color: rgb(221, 207, 4);
  cursor: pointer;
}
#para_1{
    font-family: myfont_1;
    color: rgb(138, 137, 137);
    font-size: 15px;
}

.name_logo{
    display: flex;
    flex-direction: row;

}
#avatar_img{
    height: 40px;

}
.name_logo p{
  align-items: center;
}
.name_1{
   
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    font-family: myfont_1;
    font-weight: 670;
}

@media (max-width :939px) {
  .container{
   max-width: 350px;
    height: auto;
  }
}

