.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
.attribution{
    margin-top: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont_1;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}
body{
    width: 100%;
    height: 100vh;
    background-color: #eeca16b3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    border: 2px solid black;
    height: 450px;
    width: 25%;
    box-shadow: 6px 7px 0px 2px #000000;
    border-radius: 10px;
    background-color: aliceblue;
    
}
.banner_img{
    border-radius: 8px;
    height:170px;
    margin: 5px ;
    margin-top: 15px;
    /* border: 2px solid red; */
    width: 95%;
    object-fit: cover;
    
}
.unique{
    gap: 10px;
    margin-left: 15px;
    margin-top: 15px;
}
button{
    background-color: #eeca16b3;
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 8px;
    margin-left: 15px;
    text-align: center;
    font-family: myFont_1;
    font-size: 15px;
    font-weight: 590;
}
#publish{
    justify-content: start;
    font-family: myFont_1;
    font-size: 13px;
}
h3{
    font-family: myfont_1;
}
#para_1{
    font-family: myfont_1;
    color: rgb(138, 137, 137);
    font-size: 15px;
}

.name_logo{
    display: flex;
    flex-direction: row;
    /* border: 2px solid rgb(255, 255, 255); */
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
#avatar_img{
    height: 40px;

}
.name_1{
    margin-top: 12px;
    margin-left: 12px;
    font-family: myfont_1;
    font-weight: 670;
}

@media (max-width: 939px) {
  .container {
    height: 480px;
    width: 30%;
  }
  .name_logo {
    display: flex;
    flex-direction: row;
  }
  #avatar_img {
    height: 40px;
    width: 40px;
  }
}


@media (max-width: 810px) {
  .container {
    height: 500px;
    width: 32%;

  }
}


@media (max-width: 676px) {
  .container {
    height: 520px;
    width: 34%;

  }
}

@media (max-width: 604px) {
  .container {
    height: 700px;
    width: 36%;

  }

  .name_logo {
    display: flex;
    flex-direction: row;
  }
}